name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-15
          - windows-2025
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.1
      - run: cargo --color always check
      - run: cargo --color always test

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - run: cargo fmt -- --color always --check
      - run: cargo --color always clippy
